@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Bungee');

* {
	margin: 0;
	padding: 0;
	font: 700 18px "franklin gothic", sans-serif;
}

.container {
	display: grid;
	background-image: url('../images/background2.png');
	padding-left: 10vw;
	padding-right: 10vw;
}

h1 {
	color: #ff96ad;
	text-align: left;
	font-size: 5vh;
	font-family: Bungee;
	padding: 3vw;
}

h2 {
	color: white;
	text-align: center;
	font-size: 10vh;
	text-shadow: 1vh 1vh 3vh black;
	margin-top: -4vh;
}

h3 {
	color: white;
	text-align: center;
	font-size: 4vh;
	text-shadow: 1vh 1vh 3vh black;
}

header {
	height: 20vh;
	background-color: white;
	border: 0.75vw solid white;
}

header nav {
	display: grid;
	float: right;
	margin-top: -18vh;
	margin-right: 4vw;
}

.button:focus {
	outline: none;
}

.button:hover {
	background-color: #ffedf1;
}

.button {
	display: grid;
	background: transparent;
	height: 50px;
	width: 150px;
}

.dropdown {
	display: grid;
	position: relative; z-index: 4000;
	outline: solid black 2px;
}

.item1 {
	background-color: #ff7a97;
}

.item1:hover {
	background-color: #ff96ad;
}

.item2 {
	background-color: #d8637d;
}

.item2:hover {
	background-color: #d8637d;
}

.item3 {
	background-color: #ff7a97;
}

.item3:hover {
	background-color: #ff96ad;
}

.dropdown a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 20px;
	text-align: right;
}

main {
	display: grid;
	height: 63.75vh;
	background-image: url('../images/background.jpg');
	background-position: -6vw -350px;
	background-repeat: no-repeat;
	border-right: 0.75vw solid white;
	border-left: 0.75vw solid white;
}

.image-carousel {
	margin-left: 30vw;
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.image-carousel .inner {
	display: flex;
	position: absolute;
	left: 0;
	transition: left 0.25s ease-out;
}

.bubbles {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 5px;
}

.bubble {
	margin: 2.5px;
	background-color: white;
	border-radius: 100000px;
	width: 10px;
	height: 10px;
	display: inline-block;
	opacity: 0.25;
	transition: opacity 0.1s linear;
	cursor: pointer;

	&:hover {
		opacity: 0.65;
	}

	&.active {
		opacity: 1;
	}
}

.next::after {
	content: url('../images/arrow-right-circle.svg');
	position: absolute;
	top: 50%;
	right: 0;
	width: 1.5em;
	height: 3em;
	transform: translateY(-50%);
	line-height: 3em;
	padding: 0 0.2em;
	/*cursor: pointer;*/
	opacity: 0.5;
	transition: opacity 0.1s linear;
}

.prev::after {
	content: url('../images/arrow-left-circle.svg');
	position: absolute;
	top: 50%;
	right: 0;
	width: 1em;
	height: 3em;
	transform: translateY(-50%);
	line-height: 3em;
	padding: 0 0.2em;
	/*cursor: pointer;*/
	opacity: 0.5;
	transition: opacity 0.1s linear;
}

.next:hover::after, .prev:hover::after {
	opacity: 1;
}

.prev::after {
	content: '<';
	left: 0;
}
}

footer {
	display: grid;
	height: 10vh;
	background-color: white;
	border: 0.75vw solid white;
}