* {
    margin: 0;
    padding: 0;
}
/*:root {
    --grid-gap: 5px;
}*/
header {grid-area: header;}
main {	grid-area: main;}
footer {	grid-area: footer;}
.sidebar {	grid-area: sidebar;}
.container {
	display: grid;
	grid-template-columns: 1fr 250px 250px 250px 250px 1fr;
	grid-template-rows: 50px 1fr 1fr 50px;
	grid-template-areas: 
	". header header header header language"
	". banner banner banner banner ."
	". sidebar main main main ."
	". footer footer footer footer ."
	;
}

header {
	display: flex;
	flex-direction: column;
}
.header_top {
	display: flex;
}
.language{
	display: grid;
	padding: 10px;
}
.header_top h1 {
	justify-content: flex-start;
	align-content: flex-start;
}
.header_top button {
	margin-left: auto;
	justify-content: flex-end;
	align-content: flex-end;
}
.header_bottom: {
	display: flex;
}
header nav ul {
	display: block;
	margin: 0 auto;
	color: grey;
}

header nav ul li {
	display: inline-block;
	float: left;
	list-style: none;
	padding: 0 16px;
}
.banner {
	grid-area: banner;
	width: 100%;
	height: 50vh;
}

main {
	padding: 20px;
}

.sidebar {
	width: 100%;
	height: 50vh;
}
