@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Bungee');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 700 18px "franklin gothic", sans-serif;
}
<<<<<<< HEAD

.container {
	display: grid;
	background-image: url('../images/background2.png');
	padding-left: 10vw;
    padding-right: 10vw;
}

.modal {
	background-color: white;
	top: 25vh;
	left: 34vw;
	position: fixed;
	padding: 5vh;
	width: 25vw;
	vertical-align: middle;
	display: none;
	border-radius: 1vh;
}

.shade {
	position: relative; z-index: 4500;
	background-color: grey;
}

.modal p {
	color: char;
	font-family: "consolas";
}
<<<<<<< HEAD

h1 {
	color: #ff96ad;
	text-align: left;
	font-size: 5vh;
	font-family: Bungee;
	padding: 3vw;
}

h2 {
	color: white;
	text-align: center;
	font-size: 10vh;
	text-shadow: 1vh 1vh 3vh black;
	margin-top: -4vh;
}

h3 {
	color: white;
	text-align: center;
	font-size: 4vh;
	text-shadow: 1vh 1vh 3vh black;
=======
/*:root {
    --grid-gap: 5px;
}*/
<<<<<<< HEAD
header {grid-area: header;}
main {grid-area: main;}
footer {grid-area: footer;}
.sidebar {grid-area: sidebar;}
=======

>>>>>>> parent of 0c8c499... Switching Computers
.container {
	display: grid;
	grid-template-columns: 1fr 250px 250px 250px 250px 1fr;
	grid-template-rows: 50px 1fr 1fr 50px;
	grid-template-areas: 
<<<<<<< HEAD
	"language header header header header ."
=======
	". header header header header ."
>>>>>>> parent of 0c8c499... Switching Computers
	". banner banner banner banner ."
	". sidebar main main main ."
	". footer footer footer footer ."
	;
<<<<<<< HEAD
>>>>>>> 6c2a5b2eda53580452cf8054584af670e84c35e2
}

header {
	height: 20vh;
	background-color: white;
	border: 0.75vw solid white;
}

header nav {
	display: grid;
	float: right;
	margin-top: -18vh;
	margin-right: 4vw;
}

.button:focus {
	outline: none;
}

.button:hover {
	background-color: #ffedf1;
}

.button {
	display: grid;
	background: transparent;
	height: 50px;
	width: 150px;
}
<<<<<<< HEAD

.dropdown {
=======
.language {
>>>>>>> 6c2a5b2eda53580452cf8054584af670e84c35e2
	display: grid;
	position: relative; z-index: 4000;
	outline: solid black 2px;
}

.item1 {
	background-color: #d8637d;
}

.item1:hover {
	background-color: #d8637d;
}

.item2 {
	background-color: #ff7a97;
}

.item2:hover {
	background-color: #ff96ad;
}

.item3 {
	background-color: #ff7a97;
}

.item3:hover {
	background-color: #ff96ad;
}

.dropdown a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 20px;
	text-align: right;
}

main {
	display: grid;
	height: 63.75vh;
	background-image: url('../images/background.jpg');
	background-position: -6vw -350px;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	border-right: 0.75vw solid white;
	border-left: 0.75vw solid white;
}

main .open img {
	border-radius: 50vh;
	border: 1vw solid white;
    height: 30vh;
    margin-top: -17vh;
    margin-left: 30vw;
=======
:root {
    --grid-gap: 5px;
}

.container{
	display: grid;
	height: 100vh;
	grid-template-rows: 220px 300px auto 50px;
	/*grid-gap: var(--grid-gap);*/
}

li {
	text-align: left;
}

.header, .footer {
	grid-column: 1/-1;
	grid-gap: var(--grid-gap);
	padding: 40px;
	text-align: center;
}

.header {
	padding: 10px;
}

<<<<<<< HEAD
.main__content{
	display: grid;
	grid-template-rows: repeat(1,1fr);
	grid-gap: var(--grid-gap);
	padding: 30px;
>>>>>>> parent of 2c3db28... Add files via upload
}
.main__content__item1 {

<<<<<<< HEAD
=======
main .modal img {
	height: 5vh;
	border: none;
	margin-left: 24vw;
	top: 50px;
}

>>>>>>> parent of 416bb54... RevertTest
footer {
	display: grid;
	height: 10vh;
	background-color: white;
	border: 0.75vw solid white;
=======
>>>>>>> parent of 2c3db28... Add files via upload
=======
	/*grid-gap: var(--grid-gap);*/
}

header {
	grid-area: header;
}

.banner {
	grid-area: banner;
	width: 100%;
	height: 50vh;
}

main {
	grid-area: main;
	padding: 20px;
}

.sidebar {
	grid-area: sidebar;
	width: 100%;
	height: 50vh;
}

footer {
	grid-area: footer;
>>>>>>> parent of 0c8c499... Switching Computers
}