@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
	font: 700 18px "franklin gothic", sans-serif;
    color: #eee;
}

.container {
	background-image: url("city_background.bmp");
	background-repeat: repeat;
}
li {
	font: 700 10px system, sans-serif;
}
.footer {
    background-color: #B7C4CC;
    outline: 3px solid #FFFF82;
}
.header {
	/*display: grid;*/
    background-color: #B7C4CC;
    /*outline: 3px solid #FFFF82;*/
}
.main__content {
	/*outline: 3px solid #FFFF82;*/
	background-color: #B7C4CC;
}