@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
	font: 700 18px system, sans-serif;
    color: #eee;
}

.container {
	background-color: #141414;
	background-repeat: repeat;
}
.footer {
    background-color: #303030;
}
.header {
    background-color: #303030;
}
.main__content__item--1,
.main__content__item--2 {
    background-color: #303030;
}
.main__sidebar__item--1,
.main__sidebar__item--2,
.main__sidebar__item--3 {
    background-color: #303030;
}
