@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Bungee');

* {
    margin: 0;
    padding: 0;
    font: 700 18px "franklin gothic", sans-serif;
}

.container {
	display: grid;
	background-image: url('../images/background2.png');
	padding-left: 10vw;
    padding-right: 10vw;
}

h1 {
	color: #ff96ad;
	text-align: left;
	font-size: 5vh;
	font-family: Bungee;
	padding: 3vw;
}

h2 {
	color: white;
	text-align: center;
	font-size: 10vh;
	text-shadow: 1vh 1vh 3vh black;
	margin-top: -4vh;
}

h3 {
	color: white;
	text-align: left;
	font-size: 4vh;
	text-shadow: 1vh 1vh 3vh black;
	margin-left: 35px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #ff96ad;
}

a:active {
    text-decoration: none;
    color: #ff96ad;
}

header {
	height: 20vh;
	background-color: white;
	border: 0.75vw solid white;
}

header nav {
	display: grid;
	float: right;
	margin-top: -18vh;
	margin-right: 4vw;
}

.button:focus {
	outline: none;
}

.button:hover {
	background-color: #ffedf1;
}

.button {
	display: grid;
	background: transparent;
	height: 50px;
	width: 150px;
}

.dropdown {
	display: grid;
	position: relative; z-index: 4000;
	outline: solid black 2px;
}

.item1 {
	background-color: #ff7a97;
}

.item1:hover {
	background-color: #ff96ad;
}

.item2 {
	background-color: #ff7a97;
}

.item2:hover {
	background-color: #ff96ad;
}

.item3 {
	background-color: #d8637d;
}

.item3:hover {
	background-color: #d8637d;
}

.dropdown a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 20px;
	text-align: right;
}

main {
	display: grid;
	height: 63.75vh;
	background-image: url('../images/background.jpg');
	background-position: -6vw -350px;
	background-repeat: no-repeat;
	border-right: 0.75vw solid white;
	border-left: 0.75vw solid white;
}

main .left {
    margin-left: 17vw;
    margin-top: 20vh;
}

main .left img {
	margin-left: -1vh;
    margin-bottom: -5vh;
}

main .right {
    margin-left: 47vw;
    margin-top: -33vh;
}

main .right img {
	margin-left: -1vh;
    margin-bottom: -5vh;
}

footer {
	display: grid;
	height: 10vh;
	background-color: white;
	border: 0.75vw solid white;
}